cryptography
django
django-extensions
dnspython
emails
emoji
falcon
flake8
flake8-return
flake8-simplify
flake8-unused-arguments
grapheme
gunicorn
jinja2
meinheld
num2words
pep8-naming
psycopg2-binary
requests
unidecode
user-agents
