[Unit]
Description=Subreply service
After=network.target nginx.service postgresql.service pgbouncer.service

[Service]
User=lucian
Group=lucian
PIDFile=/home/lucian/subreply/sub.pid
RuntimeDirectory=gunicorn
WorkingDirectory=/home/lucian/subreply
ExecStart=/usr/local/bin/gunicorn router:app -c gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=default.target

# sudo cp sub.service /etc/systemd/system/sub.service
# sudo systemctl daemon-reload
# sudo systemctl restart sub.service
# sudo systemctl enable sub.service // on boot
