{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/{{ url }}" class="on">Not</a> found
    </div>
    <div class="about">
        <p>subreply.com/{{ url }} is not available at this time.</p>
        <p>Reasons</p>
        <ol>
            <li>user doens't exists</li>
            <li>page was renamed due to code change</li>
            <li>there's a typo somewhere</li>
            <li>reach for support from @subreply</li>
        </ol>
    </div>
{% endblock %}
