{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about" class="on">About</a>
        <a href="/emoji">Emoji</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="about">
        <div class="block">
            <p>
                Subreply is an online platform designed to encourage meaningful connection and engagement. It eliminates distractions and clutter, allowing users to focus on meaningful conversations and content sharing.
            </p>
            <p>
                Subreply aims to reduce the impact that social apps have on your time, relationships and self-esteem, while enhancing the positive aspects of connecting with others online. The overall goal is to foster a more meaningful and intentional digital experience that encourages communication and connection.
            </p>
            <p>
                Subreply can appeal to people who enjoy reading and writing, who value creativity and originality over visual, who want to express themselves freely without censorship or filters, and who want to connect with like-mined people from around the world.
            </p>
        </div>

        <h4>Subreply has</h4>
        <ol>
            <li>Simple and intuitive user interface</li>
            <li>Ability to follow other users and engage with their content</li>
            <li>Privacy features that allow users to control who they interact with</li>
            <li>Ability to engage in meaningful conversations and content sharing</li>
            <li>Focus on creating meaningful connections and engagement</li>
        </ol>

        <h4>Subreply does not</h4>
        <ol>
            <li>Show you ads or sponsored content</li>
            <li>Collect or sell your data to third parties</li>
            <li>Use algorithms that influence what you see or do</li>
            <li>Encourage you to compare yourself to others</li>
            <li>Bombard you with irrelevant or harmful content</li>
        </ol>

        <div class="block">
            <p>
                Subreply is more than just a social network. It's a community of people who want to live more intentionally and meaningfully. Join us today and discover the benefits of minimalist social media.
            </p>
        </div>
    </div>
{% endblock %}
