{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about" class="on">About</a>
        <a href="/emoji">Emoji</a>
    </div>

    <div class="about">
        <p><a href="/subreply">@subreply</a> was created by <a href="/lucian">@lucian</a> from the desire of a having a simple to use, English-only, public forum that has nothing in common with ancient and untrustworthy social networks.</p>
        <p>Request your account, improve your profile, wait for approval then see for yourself if it's worthy of your time. You can change your mind at any time.</p>
        <h4>Features</h4>
        <ol>
            <li>easy to reply to anyone</li>
            <li>save content posted by anyone</li>
            <li>🧠💪 one or two emojis instead of avatars</li>
            <li>mentions, links and hashtags support</li>
            <li>reverse-chronological order for all feeds</li>
            <li>easy to find find and follow people</li>
            <li>light and dark themes based on OS preference</li>
        </ol>
        <h4>Limitations</h4>
        <ol>
            <li>480 characters per reply</li>
            <li>Unicode and emoji to ASCII transliteration to display everywhere</li>
            <li>unique global topics, replies per thread, content per account</li>
            <li>only one mention, link or hashtag per reply</li>
            <li>no support for paragraphs, keeps conversation tidy</li>
            <li>no popularity counters for replies or profiles</li>
        </ol>
        <h4>Privacy</h4>
        <ol>
            <li>edit or delete your replies before they are replied to</li>
            <li>delete received replies before they are replied to</li>
            <li>private following, followers and saved lists</li>
            <li>no redistribution of data, private or public based on GDPR</li>
            <li>email address needed for password reset, no spam</li>
            <li>straightforward and complete account deletion</li>
        </ol>
    </div>
{% endblock %}
