{% extends "base.html" %}

{% block main %}
    <div class="menu">
        <a href="/profile">Profile</a>
        <a href="/details">Details</a>
        <a href="/account" class="on">Account</a>
    </div>

    <div class="request">
        <form action="/account/change" method="post" autocomplete="off">
            <div class="line">
                <div class="left">
                    <label for="id_password1">New password<i>*</i></label>
                    <input type="password" name="password1" id="id_password1"
                        value="{% if form %}{{ form.password1 }}{% endif %}">
                </div>
                <div class="right">
                    <label for="id_password2">Confirm password<i>*</i></label>
                    <input type="password" name="password2" id="id_password2"
                        value="{% if form %}{{ form.password2 }}{% endif %}">
                </div>
                {% if 'password' in change_errors %}
                    <div class="error">{{ change_errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Change">
            </div>
        </form>
    </div>

    <div class="request upper">
        <form action="/account/export" method="post" autocomplete="off">
            <div class="line">
                <label for="id_username">Username<i>*</i></label>
                <input type="text" name="username" id="id_username"
                    value="{% if form %}{{ form.username }}{% endif %}">
                {% if 'username' in export_errors %}
                    <div class="error">{{ export_errors['username'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Export">
            </div>
        </form>
    </div>

    <div class="request upper">
        <form action="/account/delete" method="post" autocomplete="off">
            <div class="line">
                <label for="id_confirm">Confirm password<i>*</i></label>
                <input type="password" name="confirm" id="id_confirm"
                    value="{% if form %}{{ form.confirm }}{% endif %}">
                {% if 'confirm' in delete_errors %}
                    <div class="error">{{ delete_errors['confirm'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Delete">
            </div>
        </form>
    </div>
{% endblock %}
