{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/options">Profile</a>
        <a href="/social">Social</a>
        <a href="/account" class="on">Account</a>
    </div>

    <div class="request">
        <form action="/account/change" enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <label for="id_current">Current password<i>*</i></label>
                <input type="password" name="current" id="id_current"
                    value="{{ form.getvalue('current', '') }}">
                {% if 'current' in change_errors %}
                    <div class="error">{{ change_errors['current'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_password1">New password<i>*</i></label>
                    <input type="password" name="password1" id="id_password1"
                        value="{{ form.getvalue('password1', '') }}">
                </div>
                <div class="right">
                    <label for="id_password2">Confirm password<i>*</i></label>
                    <input type="password" name="password2" id="id_password2"
                        value="{{ form.getvalue('password2', '') }}">
                </div>
                {% if 'password' in change_errors %}
                    <div class="error">{{ change_errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Change">
            </div>
        </form>
    </div>

    <div class="request upper">
        <form action="/account/export" enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <label for="id_username">Username<i>*</i></label>
                <input type="text" name="username" id="id_username"
                    value="{{ form.getvalue('username', '') }}">
                {% if 'username' in delete_errors %}
                    <div class="error">{{ delete_errors['username'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Export">
            </div>
        </form>
    </div>

    {% if user.comments.count() < 8 %}
        <div class="request upper">
            <form action="/account/delete" enctype="multipart/form-data" method="post" autocomplete="off">
                <div class="line">
                    <label for="id_confirm">Confirm password<i>*</i></label>
                    <input type="password" name="confirm" id="id_confirm"
                        value="{{ form.getvalue('confirm', '') }}">
                    {% if 'confirm' in delete_errors %}
                        <div class="error">{{ delete_errors['confirm'] }}</div>
                    {% endif %}
                </div>
                <div class="line">
                    <input type="submit" value="Delete">
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
