{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about">About</a>
        <a href="/api" class="on">API</a>
        <a href="/directory">Directory</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="about">
        <div class="block">
            <p>
                API should be used to build clients for iOS, Android and other platforms. Clients should have their own branding starting with "sub" prefix: Subchat, Sublevel, Subversion, etc. Clients can provide additional features like image support, language translation to and from English, etc.
            </p>
            <p>
                You can authenticate by getting a token from <code>/api/login</code> endpoint then setting the Bearer header for following requests.
                You can paginate a GET endpoint using <code>?p=number</code> parameter.
            </p>
        </div>

        <h4>GET Endpoints</h4>
        <ul>
            <li><code>/api/feed</code></li>
            <li><code>/api/following</code></li>
            <li><code>/api/followers</code></li>
            <li><code>/api/mentions</code></li>
            <li><code>/api/replies</code></li>
            <li><code>/api/saved</code></li>
            <li><code>/api/people</code> &mdash; optional q param to find people</li>
            <li><code>/api/discover</code> &mdash; optional q param to search content</li>
            <li><code>/api/trending</code></li>
            <li><code>/api/messages</code></li>
            <li><code>/api/notifications</code></li>
            <li><code>/api/reply/{id:int}</code></li>
            <li><code>/api/{username}/message</code></li>
            <li><code>/api/{username}</code></li>
        </ul>

        <h4>POST Endpoints</h4>
        <ul>
            <li><code>/api/login</code> &mdash; username*, password* params returns token and user</li>
            <li><code>/api/register</code> &mdash; username*, email*, password1*, password2*, email*, first_name, last_name, emoji, birthday, location params returns token and user</li>
            <li><code>/api/post</code> &mdash; parent, content* params returns post details</li>
            <li><code>/api/{username}/send</code> &mdash; content* param returns message details</li>
        </ul>


        <h4>PATCH Endpoints</h4>
        <ul>
            <li><code>/api/edit/{id:int}</code> &mdash; content* param returns message details</li>
        </ul>

        <h4>POST Actions</h4>
        <ul>
            <li><code>/api/erase/{id:int}</code></li>
            <li><code>/api/unsend/{id:int}</code></li>
            <li><code>/api/delete/{id:int}</code></li>
            <li><code>/api/save/{id:int}</code></li>
            <li><code>/api/unsave/{id:int}</code></li>
            <li><code>/api/follow/{username}</code></li>
            <li><code>/api/unfollow/{username}</code></li>
        </ul>

        <h4>PUT Endpoints</h4>
        <ul>
            <li>work in progress</li>
        </ul>
    </div>
{% endblock %}
