{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about">About</a>
        <a href="/api" class="on">API</a>
        <a href="/emoji">Emoji</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="about">
        <div class="block">
            <p>
                API should be used to build clients for iOS, Android and other platforms. Clients should have their own branding starting with "sub" prefix: Subchat, Sublevel, Subversion, etc. Clients can provide additional features like image support, language translation to and from English, etc.
            </p>
            <p>
                You can authenticate by getting a token from <code>/api/login</code> endpoint then setting the Bearer header for following requests.
                You can paginate a GET endpoint using <code>?p=number</code> parameter.
            </p>
        </div>

        <h4>GET Endpoints</h4>
        <ul>
            <li><code>/api/feed</code></li>
            <li><code>/api/sub/{hashtag}</code></li>
            <li><code>/api/reply/{id:int}</code></li>
            <li><code>/api/following</code></li>
            <li><code>/api/followers</code></li>
            <li><code>/api/mentions</code></li>
            <li><code>/api/replies</code></li>
            <li><code>/api/saved</code></li>
            <li><code>/api/people</code></li>
            <li><code>/api/discover</code></li>
            <li><code>/api/trending</code></li>
            <li><code>/api/channels</code></li>
            <li><code>/api/messages</code></li>
            <li><code>/api/{username}</code></li>
            <li><code>/api/{username}/message</code></li>
        </ul>

        <h4>POST Endpoints</h4>
        <ul>
            <li><code>/api/login</code> - username, password params returns token and user</li>
            <li><code>/api/regiser</code> - username*, email*, password1*, passsword2*, email*, first_name, last_name, emoji, birthday, location params returns token and user</li>
        </ul>
    </div>
{% endblock %}
