{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/change" class="on">Change</a> password
    </div>

    <div class="login">
        <form enctype="multipart/form-data" method="post">
            <div class="line">
                <div class="left">
                    <label for="id_email">Email address<i>*</i></label>
                    <input type="text" name="email" id="id_email"
                        value="{{ form.getvalue('email', '') }}">
                </div>
                <div class="right">
                    <label for="id_code">Secret code<i>*</i></label>
                    <input type="text" name="code" id="id_code"
                        value="{{ form.getvalue('code', '') }}">
                </div>
                {% if 'email' in errors %}
                    <div class="error">{{ errors['email'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_password1">New password<i>*</i></label>
                    <input type="password" name="password1" id="id_password1"
                        maxlength="120"
                        value="{{ form.getvalue('password1', '') }}">
                </div>
                <div class="right">
                    <label for="id_password2">New password confirmation<i>*</i></label>
                    <input type="password" name="password2" id="id_password2"
                        maxlength="120"
                        value="{{ form.getvalue('password2', '') }}">
                </div>
                {% if 'password' in errors %}
                    <div class="error">{{ errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}
