{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about">About</a>
        <a href="/api">API</a>
        <a href="/directory" class="on">Directory</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="about">
        <table>
            <tr>
                <th>:)</th>
                <th>Username</th>
                <th>;)</th>
                <th>Username</th>
            </tr>
            {% for user in users %}
                <tr>
                    {% for emoji, username in user %}
                        <td>{{ emoji | emojize }}</td>
                        <td><a href="/{{ username }}">@{{ username }}</a></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
