{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about">About</a>
        <a href="/emoji" class="on">Emoji</a>
    </div>

    <div class="about">
        <table>
            <tr>
                <th class="emo">:)</th>
                <th class="code">Shortcode</th>
                <th class="emo">;)</th>
                <th class="code">Shortcode</th>
            </tr>
            {% for row in rows %}
                <tr>
                    {% for shortcode in row %}
                        <td class="emo">{{ shortcode | emojize }}</td>
                        <td class="code">{{ shortcode }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
