{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about">About</a>
        <a href="/emoji" class="on">Emoji</a>
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="about">
        <table>
            <tr>
                <th>:)</th>
                <th>Shortcode</th>
                <th>;)</th>
                <th>Shortcode</th>
            </tr>
            {% for row in rows %}
                <tr>
                    {% for shortcode in row %}
                        <td>{{ shortcode | emojize }}</td>
                        <td>{{ shortcode }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
