{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/options">Options</a>
        <a href="/social">Social</a>
        <a href="/invites" class="on">Invites</a>
        <a href="/account">Account</a>
    </div>

    <div class="register">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <label for="id_email">Email invite<i>*</i></label>
                <input type="email" name="email" id="id_email" maxlength="120"
                    value="{% if form %}{{ fields.email }}{% endif %}">
                {% if 'email' in errors %}
                    <div class="error">{{ errors['email'] }}</div>
                {% endif %}
            </div>
        </form>
    </div>

    <table>
        <tr>
            <th align="left">Email address</td>
            <th align="left">Account invited</td>
            <th align="right">Time</td>
        </tr>
        {% for invite in invites %}
            <tr>
                <td>{{ invite.email }}</td>
                <td>
                    {% if invite.to_user %}
                        <a href="/{{ invite.to_user }}">@{{ invite.to_user }}</a>
                    {% else %}
                        &middot;&middot;&middot;
                    {% endif %}
                </td>
                <td align="right">{{ invite.created_at | shortdate }} ago</td>
            </tr>
        {% else %}
            <tr>
                <td colspan=3>No automatic email will be sent.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
