{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/settings">Settings</a>
        <a href="/password">Password</a>
        <a href="/invitations" class="on">Invitations</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="regiser">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <input type="text" name="email" placeholder="Email address" id="id_email" value="{{ form.getvalue('email', '') }}">
            {% for name, error in errors.items() %}
                <div class="error">{{ error | safe }}</div>
            {% endfor %}
        </form>
    </div>

    <table cellpadding="0">
        <thead>
            <tr>
                <th>Email</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td align="left">{{ entry.email }}</td>
                    <td align="right">
                        {% if entry.invited %}
                            <a href="/{{ entry.invited }}">
                                @{{ entry.invited }}
                            </a>
                        {% else %}
                            {{ entry.created_at | shortdate }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">Please invite only people who can understand and write in English. No email will be sent, tell them individually.</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
