{% for entry in entries %}
    {% if view in ['lobby', 'people'] %}
        {% set member = entry %}
        {% include "common/user.html" %}
    {% elif view == 'following' %}
        {% set member = entry.to_user %}
        {% include "common/user.html" %}
    {% elif view == 'followers' %}
        {% set member = entry.created_by %}
        {% include "common/user.html" %}
    {% elif view == 'news' %}
        {% include "common/news.html" %}
    {% elif view in ['feed', 'profile', 'trending'] %}
        {% include "common/threads.html" %}
    {% else %}
        {% include "common/stream.html" %}
    {% endif %}
{% else %}
    {% include "common/nothing.html" %}
{% endfor %}

{% if view in ['following', 'followers', 'lobby', 'people'] %}
    {% set limit = 24 %}
{% else %}
    {% set limit = 16 %}
{% endif %}

{% if entries | length == limit %}
    <div class="entry">
        <div class="load">
            <a onclick="getPage(event, {{ number + 1 }})">Load more</a>
        </div>
    </div>
{% endif %}
