{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/login" class="on">Login</a>
        <a href="/register">Register</a>
        <a href="/unlock">Unlock</a>
    </div>

    <div class="login">
        <form enctype="multipart/form-data" method="post">
            <div class="line">
                <div class="left">
                    <label for="id_username">Username or email<i>*</i></label>
                    <input type="text" name="username" id="id_username"
                        value="{{ form.getvalue('username', '') }}">
                </div>
                <div class="right">
                    <label for="id_password">Password<i>*</i></label>
                    <input type="password" name="password" id="id_password"
                        value="{{ form.getvalue('password', '') }}">
                </div>
                {% if 'username' in errors %}
                    <div class="error">{{ errors['username'] }}</div>
                {% endif %}
                {% if 'password' in errors %}
                    <div class="error">{{ errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}
