{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/login" class="on">Login</a> into account
    </div>

    <div class="login">
        <form enctype="multipart/form-data" method="post">
            <div class="line">
                <div class="left">
                    <label for="id_username">Username or email</label>
                    <input type="text" name="username" id="id_username"
                        value="{{ form.getvalue('username', '') }}">
                </div>
                <div class="right">
                    <label for="id_password">Password</label>
                    <input type="password" name="password" id="id_password"
                        value="{{ form.getvalue('password', '') }}">
                </div>
                {% for error in errors.get('username', []) %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                {% for error in errors.get('password', []) %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="line">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}
