<!doctype html>
<html lang="en">
<head>
    {% include "meta.html" %}
    {% block meta %}{% endblock %}
</head>
<body class="home">
    <div class="screen">
        <img src="/static/512.png" width="128" height="128" />
        <h1>Subreply</h1>
        <h2>Tiny, but mighthy social network.</h2>
        <div class="nav">
            <a href="/about">About</a>
            <b>&middot;</b>
            <a href="/register">Register</a>
            <b>&middot;</b>
            <a href="/login">Login</a>
            <b>&middot;</b>
            <a href="/people">People</a>
            <b>&middot;</b>
            <a href="/trending">Trending</a>
            <b>&middot;</b>
            <a href="/discover">Discover</a>
        </div>
    </div>
</body>
</html>
