{% extends "base.html" %}

{% block title %}{{ brand }} / Password{% endblock %}

{% block main %}
    <div class="title">
        <a href="/settings" class="off">Settings</a>
        <a href="/password">Password</a>
        <a href="/erase" class="off">Erase</a>
        <a href="/logout" class="off">Logout</a>
    </div>
    <div class="register">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <label for="id_current">Current password</label>
                <input type="password" name="current" id="id_current"
                    value="{{ form.getvalue('current', '') }}">
                {% for error in errors.get('current', []) %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_password1">New password</label>
                    <input type="password" name="password1" id="id_password1"
                        value="{{ form.getvalue('password1', '') }}">
                </div>
                <div class="right">
                    <label for="id_password2">Confirm password</label>
                    <input type="password" name="password2" id="id_password2"
                        value="{{ form.getvalue('password2', '') }}">
                </div>
                {% for error in errors.get('password', []) %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="line">
                <input type="submit" value="Change">
            </div>
        </form>
    </div>
{% endblock %}
