{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/settings">Settings</a>
        <a href="/invitations">Invitations</a>
        <a href="/password" class="on">Password</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="register">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <label for="id_current">Current password<i>*</i></label>
                <input type="password" name="current" id="id_current"
                    value="{{ form.getvalue('current', '') }}">
                {% if 'current' in errors %}
                    <div class="error">{{ errors['current'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_password1">New password<i>*</i></label>
                    <input type="password" name="password1" id="id_password1"
                        value="{{ form.getvalue('password1', '') }}">
                </div>
                <div class="right">
                    <label for="id_password2">Confirm password<i>*</i></label>
                    <input type="password" name="password2" id="id_password2"
                        value="{{ form.getvalue('password2', '') }}">
                </div>
                {% if 'password' in errors %}
                    <div class="error">{{ errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Change">
            </div>
        </form>
    </div>
{% endblock %}
