{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/about">About</a>
        <a href="/api">API</a>
        <a href="/directory">Directory</a>
        <a href="/privacy" class="on">Privacy</a>
        <a href="/terms">Terms</a>
    </div>

    <div class="about">
        <p>Read this page to learn about personal information that Subreply collects and how it may be used.</p>

        <h4>Links to third party web sites</h4>

        <p>Our service may contain links to other websites and software. We are not responsible for the privacy practices or the content of these websites or software. Please visit the privacy policies of these third party sites in order to understand their privacy and information collection practices.</p>

        <h4>Disclosures required by law</h4>

        <p>We reserve the right to disclose your personally identifiable information when we believe in good faith that an applicable law, regulation, or legal process requires it, or when we believe disclosure is necessary to protect or enforce our rights or the rights of another member.</p>

        <h4>Cookies</h4>

        <p>Cookies are small text files stored by your browser on your computer when you visit a website. We use cookies to improve our website and make it easier to use. Cookies permit us to recognize you and avoid repetitive requests for the same information. Most browsers will accept cookies until you change your browser settings to refuse them. You may change your browser's settings to refuse our cookies.</p>

        <h4>Your privacy</h4>

        <p>Respecting members' privacy is important to Subreply. Here's a small list of few things you should know before signing up:</p>
        <ul class="list">
            <li>
                Obscene or inflammatory content is subject to removal.
            </li>
            <li>
                No soapboxing, or attempts to promote or defame a person or entity.
            </li>
            <li>
                Posting or seeking Personal Info or Private Info will result in a ban without prior warning.
            </li>
            <li>
                Activities and content are subject to local laws and authorities.<br> Subreply wouldn't and shouldn't be included in any justice process or legal dispute.
            </li>
            <li>
                Minimum age for people using the service is 14 years old. <br> Parenting guidance is recommend since Subreply doesn't have ways to enforce this.
            </li>
        </ul>
    </div>
{% endblock %}
