{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/login">Login</a>
        <a href="/recover" class="on">Recover</a>
        <a href="/register">Register</a>
    </div>

    <div class="login">
        <form method="post">
            <div class="line">
                <label for="id_email">Email address<i>*</i></label>
                <input type="text" name="email" id="id_email"
                    value="{% if form %}{{ form.email }}{% endif %}">
                {% if 'email' in errors %}
                    <div class="error">{{ errors['email'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
{% endblock %}
