{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/register" class="on">Register</a> your account
    </div>

    <div class="register">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <div class="left">
                    <label for="id_username">Username<i>*</i></label>
                    <input type="text" name="username" id="id_username"
                        maxlength="15" value="{{ fields.username }}">
                </div>
                <div class="right">
                    <label for="id_email">Email address<i>*</i></label>
                    <input type="email" name="email" id="id_email"
                        maxlength="120" value="{{ fields.email }}">
                </div>
                {% if 'username' in errors %}
                    <div class="error">{{ errors['username'] }}</div>
                {% endif %}
                {% if 'email' in errors %}
                    <div class="error">{{ errors['email'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_password1">Password<i>*</i></label>
                    <input type="password" name="password1" id="id_password1"
                        maxlength="120" value="{{ fields.password1 }}">
                </div>
                <div class="right">
                    <label for="id_password2">Password confirmation<i>*</i></label>
                    <input type="password" name="password2" id="id_password2"
                        maxlength="120" value="{{ fields.password2 }}">
                </div>
                {% if 'password' in errors %}
                    <div class="error">{{ errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_first_name">First name<i>*</i></label>
                    <input type="text" name="first_name" id="id_first_name"
                        maxlength="15" value="{{ fields.first_name }}">
                </div>
                <div class="right">
                    <label for="id_last_name">Last name</label>
                    <input type="text" name="last_name" id="id_last_name"
                        maxlength="15" value="{{ fields.last_name }}">
                </div>
                {% if 'first_name' in errors %}
                    <div class="error">{{ errors['first_name'] }}</div>
                {% endif %}
                {% if 'last_name' in errors %}
                    <div class="error">{{ errors['last_name'] }}</div>
                {% endif %}
                {% if 'full_name' in errors %}
                    <div class="error">{{ errors['full_name'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <div class="one">
                        <label for="id_emoji">Emoji</label>
                        <input type="text" name="emoji" id="id_emoji"
                            maxlength="10" placeholder=":)"
                            value="{{ fields.emoji }}">
                    </div>
                    <div class="two">
                        <label for="id_birthday">Birthday</label>
                        <input type="text" name="birthday" id="id_birthday"
                            maxlength="10" placeholder="Y-M-D"
                            value="{{ fields.birthday }}">
                    </div>
                </div>
                <div class="right">
                    <label for="id_location">Location</label>
                    <input type="text" name="location" id="id_location"
                        maxlength="60" placeholder="City, Country"
                        value="{{ fields.location }}">
                </div>
                {% if 'emoji' in errors %}
                    <div class="error">{{ errors['emoji'] }}</div>
                {% endif %}
                {% if 'birthday' in errors %}
                    <div class="error">{{ errors['birthday'] }}</div>
                {% endif %}
                {% if 'location' in errors %}
                    <div class="error">{{ errors['location'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
{% endblock %}
