{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/register" class="on">Register</a> your account
    </div>

    <div class="register">
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            <div class="line">
                <div class="left">
                    <label for="id_username">Username<i>*</i></label>
                    <input type="text" name="username" id="id_username"
                        maxlength="15" value="{{ fields.username }}">
                </div>
                <div class="right">
                    <label for="id_email">Email invite<i>*</i></label>
                    <input type="email" name="email" id="id_email"
                        maxlength="120" value="{{ fields.email }}">
                </div>
                {% if 'username' in errors %}
                    <div class="error">{{ errors['username'] }}</div>
                {% endif %}
                {% if 'email' in errors %}
                    <div class="error">{{ errors['email'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_first_name">First name<i>*</i></label>
                    <input type="text" name="first_name" id="id_first_name"
                        maxlength="15" value="{{ fields.first_name }}">
                </div>
                <div class="right">
                    <label for="id_last_name">Last name</label>
                    <input type="text" name="last_name" id="id_last_name"
                        maxlength="15" value="{{ fields.last_name }}">
                </div>
                {% if 'first_name' in errors %}
                    <div class="error">{{ errors['first_name'] }}</div>
                {% endif %}
                {% if 'last_name' in errors %}
                    <div class="error">{{ errors['last_name'] }}</div>
                {% endif %}
                {% if 'full_name' in errors %}
                    <div class="error">{{ errors['full_name'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <div class="left">
                    <label for="id_password1">Password<i>*</i></label>
                    <input type="password" name="password1" id="id_password1"
                        maxlength="120" value="{{ fields.password1 }}">
                </div>
                <div class="right">
                    <label for="id_password2">Password confirmation<i>*</i></label>
                    <input type="password" name="password2" id="id_password2"
                        maxlength="120" value="{{ fields.password2 }}">
                </div>
                {% if 'password' in errors %}
                    <div class="error">{{ errors['password'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
{% endblock %}
