{% extends "base.html" %}

{% block main %}
    {% if view in ['people', 'search'] %}
        {% include "common/query.html" %}
    {% endif %}

    <div class="list">
        {% if view == 'trending' %}
            <div class="entry">
                <div class="filters">
                    {% for kind, count in samples.items() %}
                        <a href="/set/t/{{ kind }}" class="{% if sample == count %}selected{% endif %}">
                            {{ count }} threads
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if view == 'search' %}
            <div class="entry">
                <div class="filters">
                    {% for value in kinds %}
                        <a href="/set/s/{{ value }}" class="{% if kind == value %}selected{% endif %}">
                            {{ value }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% for entry in entries %}
            {% if view == 'trending' %}
                {% include "common/threads.html" %}
            {% elif view in ['replying', 'replies'] %}
                {% include "common/replies.html" %}
            {% elif view == 'people' %}
                {% set member = entry %}
                {% include "common/user.html" %}
            {% elif view == 'following' %}
                {% set member = entry.to_user %}
                {% include "common/user.html" %}
            {% elif view == 'followers' %}
                {% set member = entry.created_by %}
                {% include "common/user.html" %}
            {% elif view == 'saved' %}
                {% set entry = entry.to_comment %}
                {% include "common/entry.html" %}
            {% elif view in ['mentions', 'saved', 'search'] %}
                {% include "common/entry.html" %}
            {% endif %}
        {% else %}
            {% include "common/nothing.html" %}
        {% endfor %}
    </div>
{% endblock %}
