{% extends "base.html" %}

{% block main %}
    {% if view  == 'feed' %}
        {% include "input/thread.html" %}
    {% elif view in ['discover', 'people'] %}
        {% include "input/query.html" %}
    {% endif %}

    {% if view in ['following', 'followers'] %}
        {% set limit = 24 %}
    {% elif view in ['mentions', 'saves'] %}
        {% set limit = 18 %}
    {% else %}
        {% set limit = 12 %}
    {% endif %}

    <div class="list">
        {% if view == 'profile' %}
            {% include "common/user.html" %}
            {% include "common/status.html" %}
        {% endif %}

        {% for entry in entries %}
            {% if view == 'feed' %}
                {% include "common/threads.html" %}
            {% elif view == 'profile' %}
                {% include "common/" + tab + ".html" %}
            {% elif view == 'trending' %}
                {% include "common/threads.html" %}
            {% elif view in ['replying', 'replies'] %}
                {% include "common/replies.html" %}
            {% elif view == 'people' %}
                {% set member = entry %}
                {% include "common/user.html" %}
            {% elif view == 'following' %}
                {% set member = entry.to_user %}
                {% include "common/user.html" %}
            {% elif view == 'followers' %}
                {% set member = entry.created_by %}
                {% include "common/user.html" %}
            {% elif view == 'saves' %}
                {# set entry = entry.to_comment #}
                {% include "common/stream.html" %}
            {% elif view == 'discover' %}
                {% include "common/stream.html" %}
            {% elif view == 'mentions' %}
                {% include "common/stream.html" %}
            {% endif %}
        {% else %}
            {% include "common/nothing.html" %}
        {% endfor %}

        {% if view not in ['people', 'discover'] and entries | length == limit %}
            <div class="entry load">
                <a onclick="loadPage(event, {{ number + 1 }})">Load more</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
