{% extends "base.html" %}

{% block main %}
    <div class="list">
        {% for entry in ancestors %}
            {% include "common/entry.html" %}
        {% endfor %}
        {% if entry.title and entry.body and not ancestors %}
            {% include "common/article.html" %}
        {% else %}
            {% include "common/entry.html" %}
        {% endif %}
    </div>

    {% include "input/reply.html" %}

    <div class="list">
        {% for entry in entries %}
            {% include "common/threads.html" %}
        {% endfor %}
    </div>
{% endblock %}
