{% extends "base.html" %}

{% block main %}
    <div class="title">
        <a href="/unlock" class="on">Unlock</a> account with a link
    </div>

    <div class="login">
        <form enctype="multipart/form-data" method="post">
            <div class="line">
                <label for="id_email">Email address<i>*</i></label>
                <input type="text" name="email" id="id_email"
                    value="{{ form.getvalue('email', '') }}">
                {% if 'email' in errors %}
                    <div class="error">{{ errors['email'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
{% endblock %}
