{% extends "base.html" %}

{% block main %}
    <div class="request writer">
        <form method="post" autocomplete="off">
            <div class="line">
                <input type="text" name="title" id="id_title" maxlength="240"
                    placeholder="Title"
                    value="{% if form %}{{ form.title }}{% endif %}">
                {% if 'title' in errors %}
                    <div class="error">{{ errors['title'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <label for="id_content">Summary</label>
                <textarea name="content" id="id_content"
                    placeholder="Mention, link, hashtag supported"
                    rows="2" cols="60" maxlength="720"
                    oninput="expand(this)" onkeydown="inline(event)"
                    >{% if form %}{{ form.content | emojize }}{% endif %}</textarea>
                {% if 'content' in errors %}
                    <div class="error">{{ errors['content'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <label for="id_body">Body</label>
                <textarea name="body" id="id_body"
                    placeholder="Markdown syntax"
                    rows="10" cols="60"
                    oninput="expand(this, 0)"
                    >{% if form %}{{ form.body | emojize }}{% endif %}</textarea>
                {% if 'body' in errors %}
                    <div class="error">{{ errors['body'] }}</div>
                {% endif %}
            </div>
            <div class="line">
                <input type="submit" value="Publish">
            </div>
        </form>
    </div>
{% endblock %}
