<div class="reply">
    <form enctype="multipart/form-data" method="post" autocomplete="off">
        {% if blocked %}
            <div class="placeholder">
                Please wait for {{ user.first_name }} to respond
            </div>
        {% elif not user.is_approved %}
            <div class="placeholder">
                Improve your <a href="/options">profile</a> to get approved
            </div>
        {% else %}
            <textarea name="content" id="id_content" autofocus
                rows="1" cols="60" maxlength="720"
                placeholder="Message @{{ member }}"
                oninput="expand(this)" onkeydown="send(event)"
                >{{ content }}</textarea>
        {% endif %}
        {% for name, error in errors.items() %}
            <div class="error">{{ error | safe }}</div>
        {% endfor %}
    </form>
</div>
