<div class="reply">
    <form enctype="multipart/form-data" method="post" autocomplete="off">
        {% if entry.created_by == user %}
            <div class="placeholder">
                {% if entry.replies %}
                    Reply back to people
                {% else %}
                    No reply yet
                {% endif %}
            </div>
        {% elif duplicate %}
            <div class="placeholder">
                {% if user %}
                    Already replied to <a href="/{{ entry.created_by }}">@{{ entry.created_by }}</a>
                {% else %}
                    <a href="/login">Login</a> or <a href="/request">request</a> your account to reply
                {% endif %}
            </div>
        {% elif not user.is_approved %}
            <div class="placeholder">
                Improve <a href="/options">profile</a> to get approved
            </div>
        {% else %}
            <textarea name="content" id="id_content"
                rows="1" cols="60" maxlength="560"
                placeholder="Reply to @{{ entry.created_by }}"
                oninput="expand(this)" onkeydown="send(event)"
                >{{ content }}</textarea>
        {% endif %}
        {% for name, error in errors.items() %}
            <div class="error">{{ error | safe }}</div>
        {% endfor %}
    </form>
</div>
