<div class="reply">
    <form enctype="multipart/form-data" method="post" autocomplete="off">
        {% if entry.created_by == user %}
            <div class="placeholder">
                {% if entry.replies %}
                    Reply back to people
                {% else %}
                    No reply yet
                {% endif %}
            </div>
        {% elif not user.is_approved %}
            <div class="placeholder">
                Improve <a href="/options">profile</a> to get approved
            </div>
        {% elif duplicate %}
            <div class="placeholder">
                {% if user %}
                    Already replied to @{{ entry.created_by }}
                {% else %}
                    Login or register to reply
                {% endif %}
            </div>
        {% else %}
            <textarea name="content" id="id_content"
                placeholder="Reply to @{{ entry.created_by }}"
                rows="1" cols="60" maxlength="480"
                oninput="expand(this)" onkeydown="send(event)"
                >{{ form.getvalue('content', status) }}</textarea>
        {% endif %}
        {% for name, error in errors.items() %}
            <div class="error">{{ error | safe }}</div>
        {% endfor %}
    </form>
</div>
