<div class="reply">
    <form enctype="multipart/form-data" method="post" autocomplete="off">
        {% if not user %}
            <div class="placeholder">
                <a href="/login">Login</a> or <a href="/register">register</a> your account to share
            </div>
        {% elif not user.is_approved %}
            <div class="placeholder">
                Improve your <a href="/profile">profile</a> to get approved
            </div>
        {% else %}
            <textarea name="content" id="id_content"
                rows="1" cols="60" maxlength="720"
                placeholder="{{ placeholder }}"
                oninput="expand(this)" onkeydown="send(event)"
                >{{ content | emojize }}</textarea>
        {% endif %}
        {% for name, error in errors.items() %}
            <div class="error">{{ error | safe }}</div>
        {% endfor %}
    </form>
</div>
