<div class="reply">
    <form method="post" autocomplete="off">
        {% if not user %}
            <div class="placeholder">
                <a href="/login">Login</a> or <a href="/register">register</a> your account to share
            </div>
        {% else %}
            <textarea name="content" id="id_content"
                rows="1" cols="60" maxlength="720"
                placeholder="{{ placeholder }}"
                oninput="expand(this, 640, true)" onkeydown="send(event)"
                >{{ content | emojize }}</textarea>
        {% endif %}
        {% for name, error in errors.items() %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </form>
</div>
