<div class="reply">
    <form enctype="multipart/form-data" method="post" autocomplete="off">
        {% if not user.is_approved %}
            <div class="placeholder">
                Improve <a href="/options">profile</a> to get approved
            </div>
        {% else %}
            <textarea name="content" id="id_content"
                placeholder="Share your thoughts"
                rows="1" cols="60" maxlength="480"
                oninput="expand(this)" onkeydown="send(event)"
                >{{ form.getvalue('content', status) }}</textarea>
        {% endif %}
        {% for name, error in errors.items() %}
            <div class="error">{{ error | safe }}</div>
        {% endfor %}
    </form>
</div>
