<div class="entry">
    <div class="content">
        <a class="story name" href="/news/{{ entry.id }}" target="_blank">
            {{ entry.domain | nemojize | emojize }}
            {{ entry.title }}
        </a>
        {{ entry.description }}
    </div>
    <div class="small">
        <b>{{ entry.pub_at | shortdate }}</b>
        <a href="/feed?s={{ entry.url | quote }}">{{ entry.domain }}</a>
        <a href="/read/{{ entry.id }}">
            {% if entry.readers %}
                {{ entry.readers }} reader{% if entry.readers != 1 %}s{% endif %}
            {% else %}
                read
            {% endif %}
            {% if user and user.id in entry.ids %}
                <span>&deg;</span>
        {% endif %}
        </a>
    </div>
</div>
