<div class="entry">
    <div class="content">
        <p>
            <a class="name" href="/news/{{ entry.id }}" target="_blank">
                {{ entry.title }}
            </a>
        </p>
        <p>{{ entry.description }}</p>
    </div>
    <div class="small">
        <b>{{ entry.pub_at | shortdate }}</b>
        <a href="/feed?s={{ entry.url | quote }}">{{ entry.domain }}</a>
        <a href="/read/{{ entry.id }}">
            {% if entry.readers %}
                {{ entry.readers }} reader{% if entry.readers != 1 %}s{% endif %}
            {% else %}
                read
            {% endif %}
        </a>
    </div>
</div>
