<div class="entry">
    {% if entry.in_room and not entry.parent %}
        <div class="above">
            <a href="/{{ entry.created_by }}">
                {{ entry.created_by.full_name | emojize }}
            </a>
            in
            <a href="/group/{{ entry.in_room }}">#{{ entry.in_room }}</a>
        </div>
    {% endif %}
    <div class="content">
        {% if not (entry.in_room and not entry.parent) %}
            <a class="name" href="/{{ entry.created_by }}">
                {{ entry.created_by.full_name | emojize }}
            </a>
        {% endif %}
        {{ entry.content | parser | emojize | safe }}
    </div>
    <div class="small">
        <b>
            {% if entry.edited_at %}&middot;&middot;&middot;{% endif %}
            {{ entry.created_at | shortdate }}
        </b>
        <a href="/reply/{{ entry.id }}">
            {% if not entry.replies %}
                reply{% elif entry.replies == 1 %}1 reply{% else %}{{ entry.replies }} replies
            {% endif %}
            {% if not entry.parent %}&not;{% endif %}
        </a>
        {% if user %}
            {% if entry.created_by_id == user.id %}
                {% if not entry.replies %}
                    <a href="/edit/{{ entry.id }}">edit</a>
                {% endif %}
            {% else %}
                {% if entry.id in user.saves %}
                    <a onclick="postSave(event, 'unsave')" data-id="{{ entry.id }}">unsave</a>
                {% else %}
                    <a onclick="postSave(event, 'save')" data-id="{{ entry.id }}">save</a>
                {% endif %}
            {% endif %}
            {% if user.id in [entry.created_by_id, entry.to_user_id] and not entry.replies %}
                <a onclick="postDelete(event, 'delete', 'deleted')" data-id="{{ entry.id }}">
                    delete
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>
