<div class="entry">
    <div class="content">
        <a class="avatar" href="/{{ entry.created_by }}">
            {{ entry.created_by.avatar | emojize }}
        </a>
        <a class="name" href="/{{ entry.created_by }}">
            {{ entry.created_by.full_name }}
        </a>
        {{ entry.content | parser | emojize | safe }}
    </div>
    <div class="small">
        <a class="right" href="/{{ entry.created_by }}/message">
            {{ entry.created_at | shortdate }}
        </a>
        <a href="/{{ entry.created_by }}/message">message</a>
        <a class="done" href="/{{ entry.created_by }}/message">
            {% if not entry.seen_at %}un{% endif %}read
        </a>
    </div>
</div>
