<div class="entry">
    <div class="content">
        <p>
            <a class="name" href="/news/{{ entry.base }}" target="_blank">
                {{ entry.title }}
            </a>
        </p>
        <p>{{ entry.description }}</p>
    </div>
    <div class="small">
        <a href="/news/{{ entry.base }}">{{ entry.pub_at | shortdate }}</a>
        <a href="/feed?s={{ entry.url | quote }}">{{ entry.domain }}</a>
        {% if entry.score %}
            <a href="/news/{{ entry.base }}">
                {{ entry.score }} reader{% if entry.score != 1 %}s{% endif %}
            </a>
        {% endif %}
    </div>
</div>
