<div class="entry">
    {% if member.links %}
        <div class="status">{{ member.social | safe }}</div>
    {% endif %}

    {% if sent and received %}
        <div class="status">
            {{ sent }} replies sent. {{ received }} replies received. {{ (sent / received * 100) | round(1) }}% profile ratio.
        </div>
    {% endif %}

    <div class="status">
        Joined {{ member.joined_at | shortdate }} ago.
        Seen {{ member.seen_at | shortdate }} ago.
        {% if is_followed %}Follows you.{% endif %}
        {% if user.id == member.id %}
            <a href="/logout">Logout</a>.
        {% endif %}
    </div>

    {% if user.id == 1 and not member.is_approved %}
        <div class="status">
            {{ member.email }} &mdash;
            <a href="/{{ member }}/approve">Approve</a> &bull;
            <a href="/{{ member }}/destroy">Destroy</a>
        </div>
    {% endif %}
</div>
