{% if entry.parent %}
    {% set to_hide = prev and prev.parent == entry.parent %}

    {% if not to_hide %}
        {% for entry in [entry.parent] %}
            {% include "common/inline.html" %}
        {% endfor %}
    {% endif %}

    <div class="sublist">
        {% include "common/entry.html" %}
    </div>
{% else %}
    {% include "common/entry.html" %}

    {% set kids = entry.kids.all()[:8] | reverse  %}

    {% if kids %}
        <div class="sublist">
            {% for entry in kids %}
                {% if loop.revindex == 1 %}
                    {% include "common/entry.html" %}
                {% else %}
                    {% include "common/inline.html" %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
