{% if entry.parent %}
    {% set hidden = prev and prev.parent == entry.parent %}

    {% if not hidden %}
        {% for entry in [entry.parent] %}
            {% include "common/inline.html" %}
        {% endfor %}
    {% endif %}

    <div class="sublist">
        {% include "common/entry.html" %}
    </div>
{% else %}
    {% include "common/entry.html" %}

    {% set kids = entry.kids.all()[:8] | reverse %}

    {% if kids %}
        <div class="sublist">
            {% for entry in kids %}
                {% include "common/inline.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
