{% if entry.parent %}
    {% set hidden = prev and prev.parent == entry.parent %}

    {% if not hidden %}
        {% for entry in [entry.parent] %}
            {% include "common/inline.html" %}
        {% endfor %}
    {% endif %}

    <div class="sublist">
        {% include "common/entry.html" %}
    </div>
{% else %}
    {% include "common/entry.html" %}

    {% set kids = entry.kids.all() | reverse | list %}

    {% if kids %}
        <div class="inlist stream">
            {% for entry in kids %}
                {% if kids | count > 7 %}
                    {% include "common/inline.html" %}
                {% else %}
                    {% include "common/entry.html" %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
