<div class="entry">
    <div class="content small">
        <b>{{ entry.latest | shortdate }}</b>
        <a class="name" href="/sub/{{ entry.hashtag.lower() }}">
            <strong>#{{ entry.hashtag }}</strong>
        </a>
        <b>
            {% if entry.threads %}
                {{ entry.threads }} thread{% if entry.threads != 1 %}s{% endif %}
            {% endif %}
            {% if entry.replies %}
                {{ entry.replies }} &not;
            {% endif %}
        </b>
    </div>
</div>
