<div class="entry">
    <div class="author">
        {% if view in ['following', 'followers'] %}
            <b>{{ entry.created_at | shortdate }}</b>
        {% else %}
            <b>{{ member.created_at | shortdate }}</b>
        {% endif %}
        <a class="handle" href="/{{ member }}">
            {{ member.full_name | emojize }}
        </a>
        <a class="done" href="/message/{{ member }}">@{{ member }}</a>
        {% if user %}
            <i>&bull;</i>
            {% if not member.is_approved and user.id == 1 %}
                <a class="action" href="/{{ member }}/approve">approve</a>
            {% elif member.id == user.id %}
                <a class="action" href="/logout">logout</a>
            {% elif member.id in user.follows %}
                <a class="action" onclick="postFollow(event, 'unfollow')" data-username="{{ member }}">unfollow</a>
            {% else %}
                <a class="accent" onclick="postFollow(event, 'follow')" data-username="{{ member }}">follow</a>
            {% endif %}
        {% endif %}
    </div>
    {% if member.description %}
        <div class="content">
            {{ member.description | parser | emojize | safe }}
        </div>
    {% endif %}
    {% if member.website or member.birthday or member.location %}
        <div class="status">
            {% if member.website %}
                {{ member.website | parser | safe }}
            {% endif %}
            {% if member.birthday %}
                ~ {{ member.birthday | age }}y old
            {% endif %}
            {% if member.location %}
                from
                <a href="/people?q={{ member.location | city | quote }}">
                    {{ member.location | city }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
