<div class="entry">
    <div class="author">
        {% if view == 'profile' %}
            {% if member.id == user.id %}
                <a class="ago" href="/options">edit</a>
            {% else %}
                {% if is_following %}
                    <a class="ago" href="/{{ member }}/unfollow">unfollow</a>
                {% else %}
                    <a class="ago" href="/{{ member }}/follow">follow</a>
                {% endif %}
            {% endif %}
        {% elif view == 'people' %}
            <a class="ago" href="/{{ member }}">
                {% if kind == 'seen' %}
                    {{ entry.seen_at | shortdate }}
                {% else %}
                    {{ entry.joined_at | shortdate }}
                {% endif %}
            </a>
        {% else %}
            <a class="ago" href="/{{ member }}">
                {{ entry.created_at | shortdate }}
            </a>
        {% endif %}
        <a class="short" href="/{{ member }}">
            {{ member.emoji }} {{ member.full_name }}
        </a>
        <b class="{{ member.status }}">&bull;</b>
        <a class="handle" href="/{{ member }}">@{{ member }}</a>
    </div>
    {% if member.bio %}
        <div class="content">
            {{ member.bio | emojize | parser | safe }}
        </div>
    {% endif %}
    {% if member.website or member.birthday or member.country %}
        <div class="extra">
            {% if member.website %}
                {{ member.website | parser | safe }}
            {% endif %}
            {% if member.birthday %}
                ~ {{ member.birthday | age }} years old
            {% endif %}
            {% if member.location %}
                in {{ member.location }}
            {% endif %}
        </div>
    {% endif %}
</div>
