<div class="entry">
    <div class="author">
        {% if view == 'people' %}
            <a class="ago" href="/{{ member }}">
                {{ entry.seen_at | shortdate }}
            </a>
        {% elif view in ['following', 'followers'] %}
            <a class="ago" href="/{{ member }}">
                {{ entry.created_at | shortdate }}
            </a>
        {% endif %}
        <a class="short" href="/{{ member }}">
            {{ member.emoji }} {{ member.full_name }}
        </a>
        <b class="{{ member.status }}">&bull;</b>
        {% if member.id == user.id %}
            <a class="handle" href="/options">edit</a>
        {% elif user %}
            {% if member.id in user.follows %}
                <a class="handle" onclick="postUnfollow(event)" data-username="{{ member }}">unfollow</a>
            {% else %}
                <a class="handle" onclick="postFollow(event)" data-username="{{ member }}">follow</a>
            {% endif %}
        {% else %}
            <a class="handle" href="/{{ member }}">@{{ member }}</a>
        {% endif %}
    </div>
    {% if member.bio %}
        <div class="content">
            {{ member.bio | emojize | parser | safe }}
        </div>
    {% endif %}
    {% if member.website or member.birthday or member.country %}
        <div class="extra">
            {% if member.website %}
                {{ member.website | parser | safe }}
            {% endif %}
            {% if member.birthday %}
                ~ {{ member.birthday | age }}y old
            {% endif %}
            {% if member.location %}
                in
                <a href="/people?q={{ member.location | city | quote }}">
                    {{ member.location | city }}
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
