html { --super: 8px; --tiny: 11px; --small: 13px; --regular: 14px; --radius: 5px; --d: 0.2s; --white: white; --whitesmoke: #f0f0f0; --redsmoke: #fff0f0; --gainsboro: #e0e0e0; --silver: #c0c0c0; --gray: #808080; --black: black; --accent: #4060e0; --orange: #FF4000; }

::-moz-placeholder { color: #1f1f1f; }

::-webkit-input-placeholder { color: var(--gray); }

@media (prefers-color-scheme: dark) { html { --white: black; --whitesmoke: #181818; --redsmoke: #281818; --gainsboro: #282828; --silver: #404040; --gray: #808080; --black: white; --accent: #6080e0; } ::-moz-placeholder { color: #eeeeee; } }

* { margin: 0; padding: 0; }

body { background-color: var(--gainsboro); color: var(--black); cursor: default; }

a { color: var(--black); cursor: pointer; text-decoration: none; transition: color var(--d); }

b, i, u { font-style: normal; font-weight: normal; text-decoration: none; }

form, input, img, label { display: block; }

body, label, input, select, textarea { font-family: "Route 159", sans-serif; font-size: var(--regular); line-height: 20px; }

label { color: var(--black); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

label i { color: var(--gray); }

sup { line-height: 0; }

input[type=file] { display: none; }

input[type=text], input[type=password], input[type=email], input[type=url], select, textarea { appearance: none; background-color: var(--whitesmoke); border-radius: var(--radius); border: 0 none; color: var(--black); display: block; overflow: hidden; padding: 5px 10px; padding-right: 5px; resize: none; width: calc(100% - 15px); }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, select:focus, textarea:focus { outline: 0 none; }

input[type=submit] { background-color: var(--whitesmoke); border-radius: var(--radius); border: 0 none; color: var(--black); cursor: pointer; float: right; font-size: var(--small); padding: 5px 15px; transition: background-color var(--d); }

input[type=submit]:hover { background-color: var(--gainsboro); }

svg { stroke-linecap: round; stroke-linejoin: round; stroke-width: 2; }

svg path, svg circle { fill: none; stroke: var(--gray); }

table { margin: 10px 0; width: 100%; }

table th { color: var(--silver); font-size: var(--small); font-weight: normal; padding-bottom: 2px; }

table td { border-top: var(--whitesmoke) 1px solid; padding: 2px 0; }

table td:last-child { padding-bottom: 0; }

table a { color: var(--accent); }

table a:hover { color: var(--gray); }

.container { display: grid; grid-template-columns: calc(50% - 350px) 175px 525px calc(50% - 350px); }

.container > div { min-height: 100vh; }

.leftside { background-color: var(--whitesmoke); }

.sidebar { background-color: var(--whitesmoke); text-align: right; }

.main { background-color: var(--white); padding: 0 10px; }

.rightside { background-color: var(--white); }

.logo { margin: 10px; overflow: hidden; position: sticky; top: 10px; }

.logo a { background-color: var(--white); border-radius: 15px; color: var(--gray); display: block; float: right; height: 30px; line-height: 30px; text-align: center; width: 30px; }

.links { position: sticky; text-align: right; top: 50px; }

.links a { background-color: var(--whitesmoke); border-bottom: var(--white) 1px solid; color: var(--black); display: block; height: 20px; padding: 5px 0; transition: background-color var(--d); }

.links a:hover { background-color: var(--gainsboro); }

.links a:first-child { border-top: var(--white) 1px solid; }

.links a.on { background-color: var(--white); color: var(--gray); }

.links a.on svg path, .links a.on svg circle { stroke: var(--accent); }

.links a.accent svg path, .links a.accent svg circle { stroke: var(--orange); }

.links a sup { font-size: var(--super); font-weight: bold; margin-left: 1px; }

.links svg { float: right; margin: 0 15px; padding: 2px; }

.title { color: var(--silver); font-size: 15px; font-weight: bold; line-height: 30px; margin: 10px 0; }

.title a { color: var(--silver); }

.title a:hover { color: var(--gray); }

.title a.on { color: var(--black); }

.reply { margin: 10px 0; }

.reply .placeholder { background: var(--whitesmoke); background: linear-gradient(90deg, var(--white) 0%, var(--whitesmoke) 100%); border-radius: var(--radius); color: var(--silver); padding: 5px 10px; }

.reply .placeholder a { color: var(--gray); }

.list { margin: 10px 0; }

.list > .entry:first-child { border-top: 0 none; padding-top: 0; }

.list > .entry:last-child { padding-bottom: 0; }

.sublist { margin-left: 30px; }

.entry { border-top: var(--whitesmoke) 1px solid; padding: 5px 0; }

.load { text-align: center; }

.load a { color: var(--gray); }

.load a:hover { color: var(--silver); }

.content { cursor: text; word-break: break-word; }

.content.inline { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; opacity: 0.5; }

.content a { color: var(--accent); }

.content a.name { color: var(--black); font-weight: bold; text-decoration: none; }

.content a:hover { color: var(--gray); }

.content b { color: var(--silver); }

.small { font-size: var(--small); overflow: hidden; }

.small a { color: var(--gray); float: left; margin-right: 10px; }

.small a:first-child { float: right; margin-right: 0; }

.small a:hover { color: var(--silver); }

.author { color: var(--gray); font-size: var(--small); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.author .handle, .author b { font-weight: bold; }

.author .action, .author .ago { color: var(--gray); }

.author .action:hover, .author .ago:hover { color: var(--silver); }

.author .accent { color: var(--accent); }

.author .accent:hover, .author .handle:hover { color: var(--gray); }

.author .ago { float: right; }

.author .here { color: green; }

.author .away { color: var(--orange); }

.author .gone { color: var(--gray); }

.status { color: var(--gray); font-size: var(--small); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.status a { color: var(--gray); }

.status a:hover { color: var(--silver); }

.filters { font-size: var(--small); height: 20px; }

.filters a { border-bottom: var(--whitesmoke) 1px solid; color: var(--gray); height: 20px; display: block; float: left; margin-right: 15px; padding-bottom: 5px; }

.filters a:hover { color: var(--silver); }

.filters a:last-child { margin-right: 0; }

.filters a.selected { border-bottom: var(--silver) 1px solid; color: var(--black); }

.line { margin-bottom: 10px; overflow: hidden; }

.line .emoji { float: left; width: calc(13.333% - 2px); }

.line .emoji input { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.line .left { float: left; width: calc(50% - 1px); }

.line .left input { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.line .right { float: left; margin-left: 1px; width: 50%; }

.line .right input { border-bottom-left-radius: 0; border-top-left-radius: 0; }

.line .third { float: left; margin: 0 1px; width: calc(33.333% - 2px); }

.line .third input { border-radius: 0; }

.line .third:first-child, .line .third:last-child { margin: 0; width: 33.333%; }

.line .third:first-child input { border-bottom-left-radius: var(--radius); border-top-left-radius: var(--radius); }

.line .third:last-child input { border-bottom-right-radius: var(--radius); border-top-right-radius: var(--radius); }

.error { clear: both; color: var(--orange); font-size: var(--small); }

.error a { color: var(--orange); font-weight: bold; }

.about a { color: var(--accent); }

.about a:hover { color: var(--gray); }

.about h4 { margin-top: 10px; }

.about h4 + p { text-indent: 0; }

.about p { text-indent: 30px; }

.about p:first-child { text-indent: 0; }

.about p:last-child { margin-bottom: 10px; }

.about ol, .about ul { margin-bottom: 10px; margin-left: 30px; }

.about ol li, .about ul li { border-bottom: var(--gainsboro) 1px dotted; padding: 2px 0; }

.about ol li:first-child, .about ul li:first-child { padding-top: 0; }

.about ol li:last-child, .about ul li:last-child { border-bottom: 0 none; padding-bottom: 0; }

.promo { color: var(--gray); font-size: 11px; padding: 10px 15px; position: sticky; top: 361px; }

.promo a { color: var(--gray); }

.promo a:hover { color: var(--black); }

.promo h5, .promo h6 { font-weight: normal; }

@media (max-width: 699px) { .container { display: grid; grid-template-columns: 0 50px calc(100% - 50px) 0; } .promo, .links i { display: none; } }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: normal; src: url(/static/route159-regular.woff2) format("woff2"); }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: bold; src: url(/static/route159-bold.woff2) format("woff2"); }
