html { --sup: 8px; --tiny: 11px; --small: 13px; --regular: 14px; --big: 16px; --indent: 30px; --radius: 6px; --d: 0.2s; --white: #fff; --whitesmoke: #f0f0f0; --redsmoke: #fff0f0; --gainsboro: #e0e0e0; --silver: #c0c0c0; --gray: #808080; --black: #000; --accent: #4060e0; --alert: #ff4000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

::-moz-placeholder { color: #1f1f1f; }

::-webkit-input-placeholder { color: var(--gray); }

@media (prefers-color-scheme: dark) { html { --white: #000; --whitesmoke: #181818; --redsmoke: #281818; --gainsboro: #282828; --silver: #404040; --gray: #808080; --black: #fff; --accent: #6080e0; } ::-moz-placeholder { color: #eeeeee; } }

* { margin: 0; padding: 0; }

body { background-color: var(--white); color: var(--black); cursor: default; }

a { color: var(--black); cursor: pointer; text-decoration: none; transition: color var(--d); }

b, i, u { font-style: normal; font-weight: normal; text-decoration: none; }

form, input, img, label { display: block; }

body, label, input, select, textarea { font-family: "Route 159", sans-serif; font-size: var(--regular); line-height: 20px; }

code { color: var(--accent); font-size: var(--tiny); }

label { color: var(--black); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

label i { color: var(--gray); }

sup { line-height: 0; }

input, select, textarea { -moz-appearance: none; -webkit-appearance: none; appearance: none; background-color: var(--whitesmoke); border-radius: var(--radius); border: 0 none; color: var(--black); display: block; font-weight: normal; }

input:focus, select:focus, textarea:focus { outline: 0 none; }

input[type=text], input[type=password], input[type=email], input[type=url], select, textarea { overflow: hidden; padding: 5px 10px; padding-right: 5px; resize: none; width: calc(100% - 15px); }

input[type=submit] { cursor: pointer; float: right; padding: 5px 15px; transition: background-color var(--d); }

input[type=submit]:hover { background-color: var(--gainsboro); }

svg { stroke-linecap: round; stroke-linejoin: round; stroke-width: 2; }

svg path { fill: none; stroke: var(--black); }

table { border-spacing: 0px; font-size: var(--small); line-height: 15px; margin: 10px 0; width: 100%; }

table th { color: var(--silver); font-weight: normal; text-align: left; padding-bottom: 6px; }

table td { border-top: var(--whitesmoke) 1px solid; padding: 6px 0; }

table td:nth-child(odd), table th:nth-child(odd) { text-align: center; width: 30px; }

table td:nth-child(even), table th:nth-child(even) { width: calc(50% - 30px); overflow-wrap: break-word; word-break: break-all; }

table td:nth-child(even):last-child, table th:nth-child(even):last-child { border-right: 0 none; }

.home { background-color: #6060e0; }

.intro { width: 280px; margin: 0 auto; }

.intro img { margin: 20px 92px; }

.intro h2, .intro h4 { color: white; margin: 10px 0; text-align: center; }

.intro a { color: white; }

.intro .account { color: white; font-size: var(--small); margin: 40px 0; text-align: center; text-transform: uppercase; }

.intro .account a { text-decoration: none; }

.intro .account a:hover { text-decoration: underline; }

.intro .linked { color: white; font-size: var(--small); margin: 20px 0; text-align: center; }

.intro .linked a { text-decoration: underline; }

.intro .linked a:hover { text-decoration: none; }

.container { display: grid; grid-column-gap: 10px; grid-template-columns: auto 150px 525px auto; }

.container > div { min-height: 380px; }

.main { position: relative; }

.sidebar { text-align: right; }

.sidebar .links { position: sticky; top: 10px; margin-bottom: 10px; }

.sidebar a { background-color: var(--white); border-radius: var(--radius); color: var(--black); display: block; height: 20px; padding: 5px 0; position: relative; transition: background-color var(--d); }

.sidebar a:hover { background-color: var(--whitesmoke); }

.sidebar a.on { background-color: var(--whitesmoke); color: var(--accent); }

.sidebar a.on svg path { stroke: var(--accent); }

.sidebar a.on span { color: var(--accent); }

.sidebar a.red svg path { stroke: var(--alert); }

.sidebar a.red span { color: var(--alert); }

.sidebar svg { float: right; margin: 0 10px; padding: 2px; }

.sidebar span { color: var(--alert); display: block; font-size: var(--sup); font-weight: bold; position: absolute; right: 0; text-align: center; top: 0; width: 17px; }

.menu { color: var(--silver); font-weight: bold; margin: 15px 0; overflow: hidden; }

.menu a { color: var(--silver); float: left; margin-right: 5px; }

.menu a:last-child { margin-right: 0; }

.menu a:hover { color: var(--gray); }

.menu a.on { color: var(--black); }

.menu a.on::first-letter { border-bottom: 2px solid var(--black); }

.menu a sup { color: var(--alert); font-size: var(--sup); font-weight: bold; }

.reply { margin: 10px 0; overflow: hidden; }

.reply .placeholder { background: var(--whitesmoke); background: linear-gradient(90deg, var(--whitesmoke) 0%, var(--white) 100%); border-radius: var(--radius); color: var(--gray); padding: 5px 10px; }

.reply label { background-color: var(--whitesmoke); border-bottom-right-radius: var(--radius); border-top-right-radius: var(--radius); float: right; padding: 7px 10px; padding-left: 5px; height: 16px; width: 16px; }

.reply input[type="text"] { border-bottom-right-radius: 0; border-top-right-radius: 0; float: left; width: calc(100% - 46px); }

.list { margin: 10px 0; }

.list > .entry:first-child { border-top: 0 none; padding-top: 0; }

.list > .entry:last-child { padding-bottom: 0; }

.entry { border-top: var(--whitesmoke) 1px solid; padding: 5px 0; }

.entry.indent { margin-left: var(--indent); }

.avatar { float: left; display: block; margin-left: calc(0px - var(--indent)); text-align: center; width: var(--indent); }

.sublist { margin-left: var(--indent); }

.inlist { border-left: var(--whitesmoke) 2px solid; }

.inlist .inlist { margin-left: 2px; }

.inlist .entry { padding-left: 10px; }

.load { text-align: center; }

.load a { color: var(--gray); }

.load a:hover { color: var(--silver); }

.load b { color: var(--gray); }

.inline { opacity: 0.5; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.inline .name { font-weight: bold; }

.inline .name:hover { color: var(--gray); }

.none { display: none; }

.content { cursor: text; word-break: break-word; }

.content a { color: var(--accent); }

.content a.name { color: var(--black); font-weight: bold; }

.content a:hover { color: var(--gray); }

.small { font-size: var(--small); overflow: hidden; }

.small b { color: var(--silver); float: left; }

.small a { color: var(--gray); float: left; margin-right: 10px; }

.small a:hover { color: var(--silver); }

.small a.done { color: var(--silver); }

.small a.right { color: var(--silver); float: right; margin-right: 0; }

.author { color: var(--gray); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.author .done, .author .handle, .author i { font-weight: bold; }

.author .action, .author .ago, .author .done { color: var(--gray); }

.author .action:hover, .author .ago:hover, .author .done:hover { color: var(--silver); }

.author .accent { color: var(--accent); }

.author .accent:hover, .author .handle:hover { color: var(--gray); }

.author .right { color: var(--silver); float: right; }

.author .caps { font-size: var(--tiny); text-transform: uppercase; }

.status { color: var(--gray); font-size: var(--small); }

.status a { color: var(--gray); }

.status a:hover { color: var(--silver); }

.request.writer { margin-top: 10px; }

.request.upper { margin-top: -10px; }

.line { margin-bottom: 10px; overflow: hidden; }

.line span { color: var(--gray); font-size: var(--small); line-height: 30px; }

.line label { font-size: var(--small); }

.line .one, .line .two, .line .left, .line .right, .line .three { float: left; }

.line .one { width: calc(100% / 3 - 1px); }

.line .two { width: calc(100% / 3 * 2 - 1px); }

.line .left, .line .right { width: calc(50% - 1px); }

.line .left, .line .one { margin-right: 1px; }

.line .left input, .line .one input { border-bottom-right-radius: 0; border-top-right-radius: 0; }

.line .right, .line .two { margin-left: 1px; }

.line .right input, .line .two input { border-bottom-left-radius: 0; border-top-left-radius: 0; }

.line .three { width: calc(100% / 3 - 2px); }

.line .three input { border-radius: 0; }

.line .three.first { margin-right: 2px; width: calc(100% / 3 - 1px); }

.line .three.first input { border-bottom-left-radius: var(--radius); border-top-left-radius: var(--radius); }

.line .three.last { margin-left: 2px; width: calc(100% / 3 - 1px); }

.line .three.last input { border-bottom-right-radius: var(--radius); border-top-right-radius: var(--radius); }

.error { clear: both; color: var(--alert); font-size: var(--small); }

.error a { color: var(--alert); font-weight: bold; }

.about a { color: var(--accent); }

.about a:hover { color: var(--gray); }

.about h4 { margin-top: 10px; margin-bottom: 3px; }

.about h4 + p { text-indent: 0; }

.about p { padding-bottom: 3px; text-indent: var(--indent); }

.about p:first-child { text-indent: 0; }

.about p:last-child { padding-bottom: 0; }

.about .block { margin-bottom: 10px; }

.about ol, .about ul { margin-bottom: 10px; }

.about ol li, .about ul li { border-bottom: var(--whitesmoke) 1px solid; padding: 3px 0; }

.about ol li:last-child, .about ul li:last-child { border-bottom: 0 none; }

.about ul { list-style: none; }

.about ul li { padding-left: var(--indent); }

.about ol { margin-left: var(--indent); }

.about svg { float: left; margin-left: calc(0px - var(--indent)); padding: 2px calc((var(--indent) - 16px)/2); }

.about .emoji { float: left; margin-left: calc(0px - var(--indent)); text-align: center; width: 40px; }

@media (max-width: 704px) { .container { grid-template-columns: auto 40px 525px auto; } .links i { display: none; } }

@media (max-width: 594px) { .container { grid-template-columns: 0 40px calc(100% - 70px) 0; } }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: normal; src: url(/static/route159/regular.woff2) format("woff2"); }

@font-face { font-family: "Route 159"; font-style: normal; font-weight: bold; src: url(/static/route159/bold.woff2) format("woff2"); }
