html
    --super: 8px
    --tiny: 11px
    --small: 13px
    --regular: 14px
    --radius: 5px
    --d: 0.2s
    --white: white
    --whitesmoke: #f0f0f0
    --redsmoke: #fff0f0
    --gainsboro: #e0e0e0
    --silver: #c0c0c0
    --gray: #808080
    --black: black
    --accent: #4060e0
    --orange: #FF4000

::-moz-placeholder
    color: darken(#808080, 38%)

::-webkit-input-placeholder
    color: var(--gray)

@mixin dots
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

@media (prefers-color-scheme: dark)
    html
        --white: black
        --whitesmoke: #181818
        --redsmoke: #281818
        --gainsboro: #282828
        --silver: #404040
        --gray: #808080
        --black: white
        --accent: #6080e0
    ::-moz-placeholder
        color: lighten(#808080, 43%)

*
    margin: 0
    padding: 0

body
    background-color: var(--gainsboro)
    color: var(--black)
    cursor: default

a
    color: var(--black)
    cursor: pointer
    text-decoration: none
    transition: color var(--d)

b, i, u
    font-style: normal
    font-weight: normal
    text-decoration: none

form, input, img, label
    display: block

body, label, input, select, textarea
    font-family: "Route 159", sans-serif
    font-size: var(--regular)
    line-height: 20px

label
    color: var(--black)
    @include dots
    i
        color: var(--gray)

sup
    line-height: 0

input[type=file]
    display: none

input[type=text],
input[type=password],
input[type=email],
input[type=url],
select,
textarea
    appearance: none
    background-color: var(--whitesmoke)
    border-radius: var(--radius)
    border: 0 none
    color: var(--black)
    display: block
    overflow: hidden
    padding: 5px 10px
    padding-right: 5px
    resize: none
    width: calc(100% - 15px)
    &:focus
        outline: 0 none

input[type=submit]
    background-color: var(--whitesmoke)
    border-radius: var(--radius)
    border: 0 none
    color: var(--black)
    cursor: pointer
    float: right
    font-size: var(--small)
    padding: 5px 15px
    transition: background-color var(--d)
    &:hover
        background-color: var(--gainsboro)

svg
    stroke-linecap: round
    stroke-linejoin: round
    stroke-width: 2
    path, circle
        fill: none
        stroke: var(--gray)

.container
    display: grid
    grid-template-columns: calc(50% - 350px) 175px 525px calc(50% - 350px)
    &> div
        min-height: 100vh

.leftside
    background-color: var(--whitesmoke)

.sidebar
    background-color: var(--whitesmoke)
    text-align: right

.main
    background-color: var(--white)
    padding: 0 10px

.rightside
    background-color: var(--white)

.logo
    margin: 10px
    overflow: hidden
    position: sticky
    top: 10px
    a
        background-color: var(--white)
        border-radius: 15px
        font-size: var(--tiny)
        color: var(--gray)
        display: block
        float: right
        height: 30px
        line-height: 30px
        text-align: center
        width: 30px
    &.on a
        color: var(--accent)

.links
    position: sticky
    text-align: right
    top: 50px
    a
        background-color: var(--whitesmoke)
        border-bottom-left-radius: var(--radius)
        border-top-left-radius: var(--radius)
        color: var(--black)
        display: block
        height: 20px
        padding: 5px 0
        transition: background-color var(--d)
        &:hover
            background-color: var(--gainsboro)
        &.on
            background-color: var(--white)
            color: var(--gray)
            svg path, svg circle
                stroke: var(--accent)
        &.accent
            svg path, svg circle
                stroke: var(--orange)
        sup
            font-size: var(--super)
            font-weight: bold
            margin-left: 1px
    svg
        float: right
        margin: 0 15px
        padding: 2px

.title
    color: var(--silver)
    font-size: 15px
    font-weight: bold
    line-height: 30px
    margin: 10px 0
    overflow: hidden
    a
        color: var(--silver)
        float: left
        margin-right: 5px
        &:last-child
            margin-right: 0
        &:hover
            color: var(--gray)
        &.on
            color: var(--black)

.reply
    margin: 10px 0
    overflow: hidden
    .placeholder
        background: var(--whitesmoke)
        background: linear-gradient(90deg, var(--whitesmoke) 0%, var(--white) 100%)
        border-radius: var(--radius)
        color: var(--gray)
        padding: 5px 10px
        a
            color: var(--gray)
            &:hover
                color: var(--silver)
    label
        background-color: var(--whitesmoke)
        border-bottom-right-radius: var(--radius)
        border-top-right-radius: var(--radius)
        float: right
        padding: 7px 10px
        padding-left: 5px
        height: 16px
        width: 16px
    input[type="text"]
        border-bottom-right-radius: 0
        border-top-right-radius: 0
        float: left
        width: calc(100% - 46px)

.list
    margin: 10px 0
    &> .entry
        &:first-child
            border-top: 0 none
            padding-top: 0
        &:last-child
            padding-bottom: 0

.entry
    border-top: var(--whitesmoke) 1px solid
    padding: 5px 0

.sublist
    margin-left: 30px
    .entry
        border-top: 0 none
        padding-top: 0

.load
    text-align: center
    a
        color: var(--gray)
        &:hover
            color: var(--silver)

.inline
    color: var(--gray)
    @include dots
    .name
        font-weight: bold
        b
            opacity: 0.536
    a
        color: var(--gray)
        &:hover
            color: var(--silver)

.content
    cursor: text
    word-break: break-word
    a
        color: var(--accent)
        &.name
            color: var(--black)
            font-weight: bold
        &:hover
            color: var(--gray)
    b
        color: var(--silver)

.small
    font-size: var(--small)
    overflow: hidden
    a
        color: var(--gray)
        float: left
        margin-right: 10px
        &:first-child
            float: right
            margin-right: 0
        &:hover
            color: var(--silver)

.author
    color: var(--gray)
    font-size: var(--small)
    @include dots
    .done, .handle, b
        font-weight: bold
    .action, .ago, .done
        color: var(--gray)
        &:hover
            color: var(--silver)
    .accent
        color: var(--accent)
    .accent, .handle
        &:hover
            color: var(--gray)
    .ago
        float: right
    .here
        color: green
    .away
        color: var(--orange)
    .gone
        color: var(--gray)

.status
    color: var(--gray)
    font-size: var(--small)
    @include dots
    a
        color: var(--gray)
        &:hover
            color: var(--silver)

.request
    &.upper
        margin-top: -10px

.line
    margin-bottom: 10px
    overflow: hidden
    .one, .two, .left, .right
        float: left
    .one
        width: calc(100% / 3 - 1px)
    .two
        width: calc(100% / 3 * 2 - 1px)
    .left, .right
        width: calc(50% - 1px)
    .left, .one
        margin-right: 1px
        input
            border-bottom-right-radius: 0
            border-top-right-radius: 0
    .right, .two
        margin-left: 1px
        input
            border-bottom-left-radius: 0
            border-top-left-radius: 0

.error
    clear: both
    color: var(--orange)
    font-size: var(--small)
    a
        color: var(--orange)
        font-weight: bold

.about
    a
        color: var(--accent)
        &:hover
            color: var(--gray)
    h4
        margin-top: 10px
        &+ p
            text-indent: 0
    p
        text-indent: 30px
        &:first-child
            text-indent: 0
        &:last-child
            margin-bottom: 10px
    ol, ul
        margin-bottom: 10px
        margin-left: 30px

.promo
    color: var(--gray)
    font-size: 11px
    padding: 10px 15px
    position: sticky
    top: 361px
    a
        color: var(--gray)
        &:hover
            color: var(--black)
    h5, h6
        font-weight: normal

@media (max-width: 700px)
    .container
        grid-template-columns: 0 25% 75% 0
    .links a
        border-radius: 0

@media (max-width: 540px)
    .container
        grid-template-columns: 0 50px calc(100% - 50px) 0
    .links i
        display: none

@font-face
    font-family: "Route 159"
    font-style: normal
    font-weight: normal
    src: url(/static/route159-regular.woff2) format("woff2")

@font-face
    font-family: "Route 159"
    font-style: normal
    font-weight: bold
    src: url(/static/route159-bold.woff2) format("woff2")
