<!doctype html>
<html>

<head>
    <title>{{ brand }} / {{ view | capitalize }}</title>
    {% include "meta.html" %}
    {% block meta %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="leftside"></div>
        <div class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="main">
            {% block main %}{% endblock %}
            {% if pages %}
                <div class="pages">
                    {% if pages.prev %}
                        <a href="?p={{ pages.prev }}">
                            {{ pages.prev | num2words(to='ordinal') }}
                        </a>
                    {% endif %}
                    <a class="selected" href="?p={{ pages.this }}">
                        {{ pages.this | num2words(to='ordinal') }}
                    </a>
                    {% if pages.next %}
                        <a href="?p={{ pages.next }}">
                            {{ pages.next | num2words(to='ordinal') }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="rightside"></div>
    </div>
</body>
</html>
