<!doctype html>
<html lang="en">
<head>
    <title>
        {% if view == 'feed' %}
            {{ brand }}
        {% elif view == 'profile' %}
            {{ brand }} / {{ member.full_name }}
        {% else %}
            {{ brand }} / {{ view | capitalize }}
        {% endif %}
    </title>
    {% include "meta.html" %}
    {% block meta %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="leftside"></div>
        <div class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="main">
            {% block main %}{% endblock %}
        </div>
        <div class="rightside"></div>
    </div>
</body>
</html>
