<!doctype html>
<html lang="en">
<head>
    <title>
        {% if view == 'profile' %}
            {{ brand }} / {{ member }}
        {% else %}
            {{ brand }} / {{ view | capitalize }}
        {% endif %}
    </title>
    {% include "meta.html" %}
    {% block meta %}{% endblock %}
</head>
{% if view == 'edit' %}
    <body onload="bodyLoad()">
{% else %}
    <body>
{% endif %}
    <div class="container">
        <div class="leftside"></div>
        <div class="sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="main">
            {% block main %}{% endblock %}
            {% if pages %}{% include "pages.html" %}{% endif %}
        </div>
        <div class="rightside"></div>
    </div>
</body>
</html>
