<div class="entry">
    <div class="filters">
        {% if view == 'trending' %}
            <a href="/trending/less" class="{% if kind == 'less' %}selected{% endif %}">
                16 threads
            </a>
            <a href="/trending" class="{% if kind == 'none' %}selected{% endif %}">
                32 threads
            </a>
            <a href="/trending/more" class="{% if kind == 'more' %}selected{% endif %}">
                48 threads
            </a>
        {% elif view == 'discover' %}
            <a href="/discover{% if q %}?q={{ q | quote }}{% endif %}" class="{% if kind == 'anything' %}selected{% endif %}">
                Anything
            </a>
            <a href="/discover/replies{% if q %}?q={{ q | quote }}{% endif %}" class="{% if kind == 'replies' %}selected{% endif %}">
                Replies
            </a>
            <a href="/discover/threads{% if q %}?q={{ q | quote }}{% endif %}" class="{% if kind == 'threads' %}selected{% endif %}">
                Threads
            </a>
        {% elif view == 'people' %}
            <a href="/people{% if q %}?q={{ q | quote }}{% endif %}" class="{% if kind == 'seen' %}selected{% endif %}">
                Last seen
            </a>
            <a href="/people/joined{% if q %}?q={{ q | quote }}{% endif %}" class="{% if kind == 'joined' %}selected{% endif %}">
                Last joined
            </a>
        {% endif %}
    </div>
</div>
