<meta charset="utf-8">
<meta name="referrer" content="always">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if view == 'reply' %}
    <meta name="description" content="{{ entry.created_by.short_name }} - {{ entry.content | emojize | shorten(128) }}">
    <meta property="article:author" content="{{ entry.created_by.short_name }}">
    <meta property="article:published_time" content="{{ entry.created_at | isoformat }}">
    {% if entry.parent %}
        <meta name="robots" content="noindex">
    {% elif entry.edited_at %}
        <meta property="article:modified_time" content="{{ entry.edited_at | isoformat }}">
    {% endif %}
    {% if entry.hashtag %}
        <meta name="keywords" content="{{ entry.hashtag }}">
    {% endif %}
{% elif view == 'profile' %}
    <meta name="description" content="{{ member.description }}">
    {% if member.emoji %}
        <meta name="keywords" content="{{ member.emoji | keywords }}">
    {% endif %}
{% endif %}

{% if q %}
    <meta name="robots" content="noindex">
{% endif %}

{% if view == 'profile' %}
    <title>{{ member.full_name | emojize }} @{{ member }}</title>
{% elif view == 'reply' %}
    <title>{{ entry.content | emojize | shorten(48) }}</title>
{% elif view == 'reader' %}
    <title>{{ entry.title }}</title>
{% else %}
    <title>{{ brand }} {{ view | capitalize }}</title>
{% endif %}

<meta property="og:image" content="/static/brand.png">
<meta name="twitter:image" content="/static/brand.png">

<link rel="apple-touch-icon" type="image/png" href="/static/brand.png">
<link rel="icon" sizes="192x192" type="image/png" href="/static/brand.png">

<link rel="manifest" type="application/json" href="/static/manifest.json">
<link rel="stylesheet" type="text/css" href="/static/style.css?v={{ v }}">

<script type="text/javascript" src="/static/script.js?v={{ v }}" async defer></script>

{% if view in ['feed', 'reply', 'edit'] and content %}
    <script type="text/javascript">
        window.onload = function() {
            var content = document.getElementById('id_content');
            expand(content);
        };
    </script>
{% endif %}
