<meta charset="utf-8">
<meta name="referrer" content="always">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

<title>
    {% if view == 'profile' %}
        {{ member.full_name }}
    {% elif view == 'feed' %}
        {{ brand }}
    {% else %}
        {{ brand }} / {{ view | capitalize }}
    {% endif %}
</title>

<link rel="apple-touch-icon" type="image/png" href="/static/logo-white.png">
<link rel="icon" sizes="192x192" type="image/png" href="/static/logo-white.png">
<link rel="manifest" type="application/json" href="/static/manifest.json">
<link rel="stylesheet" type="text/css" href="/static/style.css?v={{v}}">

<script type="text/javascript" src="/static/script.js?v={{v}}" async defer></script>

{% if (view in ['feed', 'reply'] and errors) or (view == 'edit') %}
    <script type="text/javascript">
        window.onload = function() {
            var content = document.getElementById('id_content');
            expand(content);
        };
    </script>
{% endif %}
