<div class="pages">
    {% if pages.previous %}
        <a href="?{% if q %}q={{ q | quote }}&{% endif %}p={{ pages.previous }}">
            {{ pages.previous | num2words(to='ordinal') | capitalize }}
        </a>
    {% endif %}
    <a class="selected" href="?{% if q %}q={{ q | quote }}&{% endif %}p={{ pages.current }}">
        {{ pages.current | num2words(to='ordinal') | capitalize }}
    </a>
    {% if pages.next %}
        <a href="?{% if q %}q={{ q | quote }}&{% endif %}p={{ pages.next }}">
            {{ pages.next | num2words(to='ordinal') | capitalize }}
        </a>
    {% endif %}
</div>
