<div class="logo">
    {% if user %}
        {% if user.id == 1 %}
            <a href="/requests">{{ user.requests }}</a>
        {% else %}
            <a href="/{{ user }}">{{ user[:3] }}</a>
        {% endif %}
    {% else %}
        <a href="/about">sub</a>
    {% endif %}
</div>

<div class="links">
    {% if user %}
        <a href="/feed" class="{% if view == 'feed' %}on{% endif %}">
            <i>Feed</i>
            <svg id="i-lightning" viewBox="0 0 32 32" width="16" height="16">
                <path d="M18 13 L26 2 8 13 14 19 6 30 24 19 Z" />
            </svg>
        </a>
        <a href="/replying" class="{% if view == 'replying' %}on{% endif %}">
            <i>Replying</i>
            <svg id="i-msg" viewBox="0 0 32 32" width="16" height="16">
                <path d="M2 4 L30 4 30 22 16 22 8 29 8 22 2 22 Z" />
            </svg>
        </a>
        <a href="/following" class="{% if view == 'following' %}on{% endif %}">
            <i>Following</i>
            <svg id="i-signin" viewBox="0 0 32 32" width="16" height="16">
                <path d="M3 16 L23 16 M15 8 L23 16 15 24 M21 4 L29 4 29 28 21 28" />
            </svg>
        </a>
        <a href="/followers" class="{% if view == 'followers' %}on{% endif %} {% if user.notif_followers %}red{% else %}gray{% endif %}">
            <i>Followers<span>{{ user.notif_followers | superscript }}</span></i>
            <svg id="i-signout" viewBox="0 0 32 32" width="16" height="16">
                <path d="M28 16 L8 16 M20 8 L28 16 20 24 M11 28 L3 28 3 4 11 4" />
            </svg>
        </a>
        <a href="/mentions" class="{% if view == 'mentions' %}on{% endif %} {% if user.notif_mentions %}red{% else %}gray{% endif %}">
            <i>Mentions<span>{{ user.notif_mentions | superscript }}</span></i>
            <svg id="i-bell" viewBox="0 0 32 32" width="16" height="16">
                <path d="M8 17 C8 12 9 6 16 6 23 6 24 12 24 17 24 22 27 25 27 25 L5 25 C5 25 8 22 8 17 Z M20 25 C20 25 20 29 16 29 12 29 12 25 12 25 M16 3 L16 6" />
            </svg>
        </a>
        <a href="/replies" class="{% if view == 'replies' %}on{% endif %} {% if user.notif_replies %}red{% else %}gray{% endif %}">
            <i>Replies<span>{{ user.notif_replies | superscript }}</span></i>
            <svg id="i-reply" viewBox="0 0 32 32" width="16" height="16">
                <path d="M10 6 L3 14 10 22 M3 14 L18 14 C26 14 30 18 30 26" />
            </svg>
        </a>
        <a href="/saved" class="{% if view == 'saved' %}on{% endif %}">
            <i>Saved</i>
            <svg id="i-bookmark" viewBox="0 0 32 32" width="16" height="16">
                <path d="M6 2 L26 2 26 30 16 20 6 30 Z" />
            </svg>
        </a>
        <a href="/{{ user.username }}" class="{% if view == 'profile' %}on{% endif %}">
            <i>Profile</i>
            <svg id="i-user" viewBox="0 0 32 32" width="16" height="16">
                <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
            </svg>
        </a>
        <a href="/people" class="{% if view == 'people' %}on{% endif %}">
            <i>People</i>
            <svg id="i-location" viewBox="0 0 32 32" width="16" height="16">
                <circle cx="16" cy="11" r="4" />
                <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" />
            </svg>
        </a>
    {% else %}
        <a href="/about" class="{% if view == 'about' %}on{% endif %}">
            <i>About</i>
            <svg id="i-info" viewBox="0 0 32 32" width="16" height="16">
                <path d="M16 14 L16 23 M16 8 L16 10" />
                <circle cx="16" cy="16" r="14" />
            </svg>
        </a>
        <a href="/login" class="{% if view == 'login' %}on{% endif %}">
            <i>Login</i>
            <svg id="i-lock" viewBox="0 0 32 32" width="16" height="16">
                <path d="M5 15 L5 30 27 30 27 15 Z M9 15 C9 9 9 5 16 5 23 5 23 9 23 15 M16 20 L16 23" />
                <circle cx="16" cy="24" r="1" />
            </svg>
        </a>
        <a href="/register" class="{% if view == 'register' %}on{% endif %}">
            <i>Register</i>
            <svg id="i-portfolio" viewBox="0 0 32 32" width="16" height="16">
                <path d="M29 17 L29 28 3 28 3 17 M2 8 L30 8 30 16 C30 16 24 20 16 20 8 20 2 16 2 16 L2 8 Z M16 22 L16 18 M20 8 C20 8 20 4 16 4 12 4 12 8 12 8" />
            </svg>
        </a>
        <a href="/request" class="{% if view == 'request' %}on{% endif %}">
            <i>Request</i>
            <svg id="i-gift" viewBox="0 0 32 32" width="16" height="16">
                <path d="M4 14 L4 30 28 30 28 14 M2 9 L2 14 30 14 30 9 2 9 Z M16 9 C 16 9 14 0 8 3 2 6 16 9 16 9 16 9 18 0 24 3 30 6 16 9 16 9" />
            </svg>
        </a>
    {% endif %}

    <a href="/trending" class="{% if view == 'trending' %}on{% endif %}">
        <i>Trending</i>
        <svg id="i-activity"viewBox="0 0 32 32" width="16" height="16">
            <path d="M4 16 L11 16 14 29 18 3 21 16 28 16" />
        </svg>
    </a>
    <a href="/search" class="{% if view == 'search' %}on{% endif %}">
        <i>Search</i>
        <svg id="i-search" viewBox="0 0 32 32" width="16" height="16">
            <circle cx="14" cy="14" r="12" />
            <path d="M23 23 L30 30" />
        </svg>
    </a>

    {% if user %}
        <a href="/settings" class="{% if view in ['settings', 'password', 'invitations'] %}on{% endif %}">
            <i>Settings</i>
            <svg id="i-options" viewBox="0 0 32 32" width="16" height="16">
                <path d="M28 6 L4 6 M28 16 L4 16 M28 26 L4 26 M24 3 L24 9 M8 13 L8 19 M20 23 L20 29" />
            </svg>
        </a>
    {% endif %}
</div>

{#
<div class="promo">
    {% if user.id == 1 %}
        <h6>check</h6>
        <h5><a href="/requests">Requests</a></h5>
    {% else %}
        <h6>hosted by</h6>
        <h5><a href="https://www.vultr.com/?ref=8538483-6G">Vultr</a></h5>
    {% endif %}
</div>
#}
